body{
    background-image: url("./1.png");
    }
header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    background:teal;
    display:flex;
    justify-content:space-between;
    
}
.navigation a{
    position:relative;
    font-size: 1.1em;
    font-weight: 500;
    text-shadow: 2px 2px 5px darkblue;
    margin-right: 40px;
    text-decoration: none;
    color:white;
}
h1{
    color:teal;
    text-shadow: 8px 8px 18px green;
    font-size:9vw;
    margin-top:27px;
    padding-bottom: 0%;
    margin-bottom: 10px;
}
.tb{
    height:300px;
    width:3em;
}
.tb table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: teal;
    color: white;
  }
#tg{
    color:teal;
    text-shadow: 2px 2px 5px rgb(244, 247, 153);
    font-size:2.5vw;    
    margin-top:10vw;
    padding-bottom: 0%;
}
#os{
    color:white;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 5px green;
    font-size:2.5vw;
}



